<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>

    <h2>Login Page</h2>
    
    <% if (error) { %>
        <p><strong><%= error %></strong></p>
    <% } %>

    <form action="/auth/login" method="POST">
        <div>
            <label>User name:</label>
            <input type="text" name="username" required>
        </div>
        <br>
        
        <div>
            <label>Password:</label>
            <input type="password" name="password" required>
        </div>
        <br>

        <p>To create an account, click <a href="/auth/register">here</a></p>
        
        <button type="submit">Login</button>
    </form>

</body>
</html>